<div class = "table_width">
<h3>7日間分の投稿数</h3>
<table class="table">
<thead>
 <tr>
  <th>６日前</th>
  <th>5日前</th>
  <th>4日前</th>
  <th>3日前</th>
  <th>２日前</th>
  <th>昨日</th>
  <th>今日</th>
 </tr>
</thead>
<tbody>
 <tr>
  <th><%= books.created_6days.count %></th>
  <th><%= books.created_5days.count %></th>
  <th><%= books.created_4days.count %></th>
  <th><%= books.created_3days.count %></th>
  <th><%= books.created_2days.count %></th>
  <th><%= yesterday_book.count %></th>
  <th><%= today_book.count %></th>
 </tr>
</tbody>
</table>
</div>

<br>

<label class="text-user"><h3>7日間の投稿数の比較</h3></label>

<label class="text-user"><h3>7日間の投稿数の比較</h3></label>

<canvas id="myChart"></canvas>
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    /* グラフの種類 (bar、line、rader、pie、doughnut、polarArea、bubble などがある) */
    type: "line",
    data: {
      labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
      /* データの設定 */
      datasets: [
        {
          /* グラフ全体のラベル */
          label: "投稿数",
          /* グラフのデータ(上から時計回り) */
          data: [<%= books.created_6days.count %>, <%= books.created_5days.count %>, <%= books.created_4days.count %>, <%= books.created_3days.count %>, <%= books.created_2days.count %>, <%= yesterday_book.count %>, <%= today_book.count%>],
          /* グラフを塗りつぶすかどうか（falseにすると枠線だけのグラフになる）*/
          fill: true,
          /* 背景色 */
          backgroundColor: "rgba(255, 99, 132, 0.2)",
          /* 枠線色 */
          borderColor: "rgb(255, 99, 132)",
          /* ポイントを塗りつぶす色 */
          pointBackgroundColor: "rgb(255, 99, 132)",
          /* ポイントの枠線色 */
          pointBorderColor: "#fff",
          /* ホバー時のポイントの背景色 */
          pointHoverBackgroundColor: "#fff",
          /* ホバー時のポイントの枠線色 */
          pointHoverBorderColor: "rgb(255, 99, 132)",
        },
      ],
    },
    //オプションの設定
    options: {
      elements: {
        line: {
          /* 枠線の太さ */
          borderWidth: 3,
        },
      },
    },
  });
</script>

